server:
  port: 8080
  servlet:
    context-path: /api

spring:
  datasource:
    url: "jdbc:mysql://localhost:3306/server_mobile"
    username: "root"
    password: "root"
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

jwt:
#  secret: "${JWT_SECRET}"
  secret: "sSkEW/7r25YJQCRBw9LEsCg4/yWv3FDKNCMptG5tUnYq7MdkNz+9saUMmCSENl5Y"
  valid-duration: 300 # in second
  refreshable-duration: 900 # in seconds

logging:
  level:
    org:
      springdoc: DEBUG
      springframework :
        security: DEBUG
        web: DEBUG
        boot :
          actuate: DEBUG